// Fonts EN
$en-light: enfont-light;
$en-regular: enfont-regular;
$en-medium: enfont-medium;
$en-bold: enfont-bold;
// Fonts JP
$ja-light: jafont-light;
$ja-regular: jafont-regular;
$ja-medium: jafont-medium;
$ja-bold: jafont-bold;

// Color
$black: #000;
$white: #ffff;
$main_color: #fff1d7;


body {
    background-color: #fff1d7;
}

p {
    font-family: enfont-regular;
}


// Intro SEction
.section_1 {
  position: relative;
  display: flex;
  align-items: center;
  height: 87vh;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15rem;
  .intro_wrap {
    background-color: $black;
    width: 80%;
    position: relative;
    bottom: 6%;
    .name_part {
      padding: 7vw 5vw;
      h1 {
        font-size: 6.5rem;
        font-family: $en-bold;
        margin-bottom: 1rem;
        color: $main_color;
      }
      .catchphrase {
        font-size: 1.5rem;
        font-family: $en-light;
        color: $main_color;
      }
    }
  }
  .scroll_here {
    position: absolute;
    bottom: 0;
    left: 5%;
    .arrow_case {
      overflow: hidden;
      height: 120px;
      position: relative;
      text-align: center;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 1px;
        height: 100%;
        background: #000;
        -webkit-animation: sc_ani01 1.5s infinite;
        animation: sc_ani01 1.5s infinite;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 15px;
        left: 4px;
        bottom: -1px;
        background-color: $black;
        transform: rotate(35deg);
      }
    }
    p {
      transform: rotate(90deg);
      font-size: 11px;
      position: relative;
      bottom: 4.5rem;
      left: -27px;
    }
  }
}

.section_2 {
  width: 90%;
  margin: 0 auto 10rem;
  .profile_desc {
  }
  .employment_desc {
    margin-bottom: 4rem;
    .history {
      display: flex;
      flex-direction: row;
      margin-bottom: 1.8rem;
      .his_1 {
        width: 10rem;
      }
      .his_2 {
        width: 15rem;
      }
      .his_3 {
        width: 19rem;
      }
      .current {
        font-family: $en-bold;
      }
    }
  }
  .skill_desc {
    .skill_box_wrap {
      .skill_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 640px;
        margin-bottom: 2rem;
        li {
          width: 200px;
          height: 45px;
          color: $main_color;
          font-size: 17px;
          background-color: $black;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
        }
      }
    }
    .tools_box_wrap {
      .tools_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 640px;
        li {
          width: 90px;
          height: 90px;
          border: 1px solid $black;
          background-color: $main_color;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          .img {
            width: 35px;
            img {
              max-width: 100%;
            }
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            .img {
              width: 55px;
            }
          }
        }
      }
    }
  }
}

.section_3 {
  width: 90%;
  margin: 0 auto 10rem;
  .works {
    .works_box_wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .works_box {
        width: calc((100% / 3) - 20px);
        margin-bottom: 4rem;
        .main_kv {
          width: 100%;
          height: 315px;
          border-radius: 5px;
          background-color: grey;
          margin-bottom: 10px;
        }
        .company_name {
          background-color: $black;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          margin-bottom: 10px;
          p {
            color: $main_color;
            font-size: 16px;
            padding: 15px 0;
          }
        }
        .web_desc {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .role_box,
          .web_box {
            width: 49%;
            background-color: $main_color;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $black;
            border-radius: 5px;
            p {
              color: $black;
              font-size: 16px;
              padding: 15px 0;
            }
          }
        }
      }
    }
    .link {
      display: flex;
      flex-direction: row;
      justify-content: end;
      &::before {
        content: "";
        background-image: url("/assets/images/arrow_right.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 14px;
        display: block;
        margin-right: .5rem;
      }
    }
  }
}

.section_4 {
  width: 90%;
  margin: 0 auto;
  .contact {
    .contact_way {
      display: flex;
      flex-direction: row;
      a {
        border: 1px solid $black;
        width: 90px;
        height: 90px;
        display: block;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $main_color;
        margin-right: 2rem;
      }
      .linkedin {
        background-image: url("/assets/images/linkedin_logo.webp");
        background-size: 55%;
      }
      .email {
        background-image: url("/assets/images/email_logo.png");
        background-size: 55%;
      }
    }
  }
}

// Animation
@-webkit-keyframes sc_ani01 {
  0% {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    height: 100%; }
  50% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 100%; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 0; } 
}

@keyframes sc_ani01 {
  0% {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    height: 100%; }
  50% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 100%; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 0; } 
}

@-webkit-keyframes sc_ani02 {
  0% {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    height: 100%; }
  50% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 100%; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 0; } 
}

@keyframes sc_ani02 {
  0% {
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
    height: 0; }
  50% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 100%; }
  100% {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    height: 100%; } 
}

@media screen and (max-width: 1800px) {
  .section_1 {

  }
  .section_2 {

  }
  .section_3 {
    .works {
      .works_box_wrap {
        .works_box {
          width: calc((100% / 2) - 20px);
          .main_kv {
            height: 350px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .section_1 {
      .intro_wrap {
        width: 90%;
        .name_part {
          padding: 10vw 5vw;
          h1 {
            font-size: 8.5vw;
          }
        }
      }
  }

  .section_2 {

  }
  .section_3 {
    .works {
      .works_box_wrap {
        .works_box {
          .main_kv {
            height: 25vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1028px) {
  .section_3 {
    .works {
      .works_box_wrap {
        .works_box {
          width: 100%;
          .main_kv {
            height: 45vw;
          }
        }
      }
    }
  }  
}

@media screen and (max-width: 850px) {
  .section_1 {
    .intro_wrap {
      .name_part {
        h1 {
          font-size: 13vw;
        }
      }
    }
  }
  .section_2 {
    .skill_desc {
      .skill_box_wrap {
        .skill_box {
          width: 100%;
          margin-bottom: 0rem;
          li {
            width: calc((100% / 3) - 20px);
          }
        }
      }
      .tools_box_wrap {
        .tools_box {
          width: 100%;
          li {
            width: calc((100% / 5) - 20px);
            height: 14vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .section_2 {
    .employment_desc {
      .history {
        flex-wrap: wrap;
        margin-bottom: 2rem;
        .his_1 {
          width: 100%;
          margin-bottom: 10px;
        }
        .his_2 {
          width: 14rem;
          margin-bottom: 10px;
        }
        .his_3 {
        }
      }
    }
  }  
}

@media screen and (max-width: 600px) {
  .section_1 {
    height: 95vh;
    .intro_wrap {
      width: 95%;
      .name_part {
        padding: 20vw 5vw;
        h1 {
          font-size: 15vw;
        }
        .catchphrase {
          font-size: 5vw;
        }
      }
    }
    .scroll_here {
      .arrow_case {
        height: 100px;
        &:before {
          width: 1px;
        }
        &:after {
          width: 1px;
        }
      }
      p {
        font-size: 10px;
        bottom: 61px;
        left: -25px;
      }
    }
  }
  .section_2 {
    margin: 0 auto 5rem;
    .employment_desc {
      .history {
        li {
          font-size: 14px;
        }
      }
    }
    .skill_desc {
      .skill_box_wrap {
        .skill_box {
          li {
            width: calc((100% / 2) - 10px);
            font-size: 14px;
          }
        }
      }
      .tools_box_wrap {
        .tools_box {
          justify-content: space-between;
          li {
            width: calc((100% / 5) - 5px);
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 3.1vw;
            padding: 9px 0;
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5)
             {
              .img {
                width: 35px;
              }
            }
            .img {
              width: 20px;
            }
          }
        }
      }
    }
  }
  .section_3 {
    .works {
      .works_box_wrap {
        .works_box {
          .company_name {
            p {
              font-size: 3.5vw;
            }
          }
          .web_desc {
            .role_box,
            .web_box {
              p {
                font-size: 3.25vw;
                padding: 15px 0 12px;
              }
            }
          }
          &:last-child {
            margin-bottom: 2rem;
          }
        }
      }
      .link {
        font-size: 14px;
        &::before {
          position: relative;
          bottom: 2px;
        }
      }
    }
  }
  .section_4 {
    .contact {
      .contact_way {
        a {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
