// Fonts EN
$en-light: enfont-light;
$en-regular: enfont-regular;
$en-medium: enfont-medium;
$en-bold: enfont-bold;
// Fonts JP
$ja-light: jafont-light;
$ja-regular: jafont-regular;
$ja-medium: jafont-medium;
$ja-bold: jafont-bold;

// Color
$black: #000;
$white: #ffff;
$main_color: #fff1d7;


body {
    background-color: #fff1d7;
}

section {
  padding-top: 2rem;
}
// Intro Section
.section_1 {
  position: relative;
  display: flex;
  align-items: center;
  height: 25vh;
  width: 100%;
  margin: 0 auto 0;
  .intro_wrap {
    background-color: $black;
    width: 80%;
    position: relative;
    bottom: 8%;

    transform: translateX(-110%);
    transition: transform .7s ease-in-out;
    transition-delay: .3s;
    .page_name {
      padding: 3vw 5vw;
      h1 {
        font-size: 5rem;
        font-family: $en-bold;
        color: $main_color;
      }
      .catchphrase {
        font-size: 1.5rem;
        font-family: $en-light;
        color: $main_color;
      }
    }
  }
  .intro_wrap_active {
    transform: translateX(0);
  }
}

.section_2 {
  width: 90%;
  margin: 0 auto;
  opacity: 0;
  transition: .3s;
  transition-delay: 1.5s;
  .works_desc {
      width: 90%;
      margin: 0 auto 40px;
    .works_type {
      font-size: 16px;
      text-decoration: underline;
      margin-bottom: 20px;
    }
    .name {
      font-family: $ja-bold!important;
      font-size: 30px;
      margin-bottom: 4px;
      font-family: $en-bold;
    }
    .type {
      font-size: 14px;
      margin-bottom: 50px;
    }
    .desc {
      margin-bottom: 20px;
      p {
       &:first-child {
        font-family: $en-bold;
        margin-bottom: 8px;
       }
      }
    }
    .url {
      p {
        font-family: $en-bold;
        margin-bottom: 8px;
      }
      a {
        transition: .3s;
        text-decoration: underline;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
  .main_img_wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .main_img_pc {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .img_pc {
        width: calc((100% / 2) - 20px);
        margin-bottom: 60px;
        img {
          max-width: 100%;
        }
      }
      .img_pc_100 {
        width: 100%;
        img {
          max-width: 100%;
        }
      }
    }
    .main_img_sp {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .img_sp {
        width: calc((100% / 4) - 20px);
        margin-bottom: 60px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

.section_active {
  opacity: 1;
}

// Animation
@-webkit-keyframes sc_ani01 {
  0% {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    height: 100%; }
  50% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 100%; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 0; } 
}

@keyframes sc_ani01 {
  0% {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    height: 100%; }
  50% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 100%; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 0; } 
}

@-webkit-keyframes sc_ani02 {
  0% {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    height: 100%; }
  50% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 100%; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 0; } 
}

@keyframes sc_ani02 {
  0% {
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
    height: 0; }
  50% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 100%; }
  100% {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    height: 100%; } 
}

@media screen and (max-width: 1800px) {
  .section_2 {
    .works {
      .works_box_wrap {
        .works_box {
          width: calc((100% / 2) - 20px);
          .img_link {
            .main_kv {
              height: 350px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .section_1 {
      .intro_wrap {
        width: 90%;
      }
  }
  .section_2 {
    .works {
      .works_box_wrap {
        .works_box {
          .img_link {
            .main_kv {
              height: 25vw;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1028px) {
  .section_2 {
    .works {
      .works_box_wrap {
        .works_box {
          width: 100%;
          .img_link {
            .main_kv {
              height: 45vw;
            }
          }
        }
      }
    }
  }  
}

@media screen and (max-width: 850px) {
  .section_1 {
    margin: 0 auto 0;
    height: 15vh;
    .intro_wrap {
      .page_name {
        h1 {
          position: relative;
          top: 6px;
        }
      }
    }
  }
  .section_2 {
    .works_desc {
      width: 100%;
    }
    .main_img_wrap {
      width: 100%;
      
      .main_img_pc {
        flex-direction: column;
        .img_pc {
          width: 100%;
        }
        .img_sp {
          width: calc((100% / 2) - 20px);
        }
      }

      .main_img_sp {
        flex-wrap: wrap;
        .img_sp {
          width: calc((100% / 2) - 20px);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {  
}

@media screen and (max-width: 600px) {
  .section_1 {
    height: auto;
    padding-top: 0rem;
    margin: 0 auto 1rem;
    .intro_wrap {
      width: 95%;
      .page_name {
        padding: 5vw 5vw 5vw;
        h1 {
          top: 4px;
          font-size: 10vw;
          line-height: 1.1;
        }
        .catchphrase {
          font-size: 5vw;
        }
      }
    }
  }
  .section_2 {
    .works {
      .works_box_wrap {
        .works_box {
          .company_name {
            p {
              font-size: 3.5vw;
            }
          }
          .web_desc {
            .role_box,
            .web_box {
              p {
                font-size: 3.25vw;
                padding: 15px 0 12px;
              }
            }
          }
          &:last-child {
            margin-bottom: 2rem;
          }
        }
      }
      .link {
        font-size: 14px;
        &::before {
          position: relative;
          bottom: 2px;
        }
      }
    }
    .works_desc {
      .name {
        font-size: 24px;
      }
    }
    .main_img_wrap {
      .main_img_sp {
        flex-direction: column;
        .img_sp {
          width: 100%;
          margin-bottom: 40px;
        }
      }
    }
  }
}
