.no_scroll {
  margin: 0;
  overflow: hidden;
}

.en-light {
  font-family: enfont-light;
}

.en-regular {
  font-family: enfont-regular;
}

.en-medium {
  font-family: enfont-medium;
}

.en-bold {
  font-family: enfont-bold;
}

.en-light {
  font-family: jafont-light;
}

.en-regular {
  font-family: jafont-regular;
}

.en-medium {
  font-family: jafont-medium;
}

.en-bold {
  font-family: jafont-bold;
}

header {
  margin: 2rem auto;
}

.bread_crumb {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 4rem auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 2rem 0;
}
.bread_crumb .bread_link {
  display: flex;
  flex-direction: row;
}
.bread_crumb .bread_link::after {
  content: "";
  background-image: url(../../assets/images/arrow_light_right.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 11px;
  display: block;
  margin: 0 2rem;
  position: relative;
  top: 1px;
}

section {
  max-width: 1920px;
}

.en_header {
  font-family: enfont-regular;
  width: 100%;
  max-width: 1920px;
}
.en_header .header_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  transform: translateY(-220%);
  transition: transform 0.5s ease-in-out;
  transition-delay: 1s;
}
.en_header .header_wrap .main_menu a {
  font-family: enfont-regular;
  position: relative;
  margin-right: 5rem;
  transition: 0.3s;
}
.en_header .header_wrap .main_menu a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  margin-left: auto;
  margin-right: auto;
  left: -10px;
  right: 0;
  text-align: center;
  width: 0px;
  height: 1px;
  background-color: #000;
  transition: 0.3s;
}
.en_header .header_wrap .main_menu a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  margin-left: auto;
  margin-right: auto;
  left: 10px;
  right: 0;
  text-align: center;
  width: 0px;
  height: 1px;
  background-color: #000;
}
.en_header .header_wrap .main_menu a:hover {
  font-family: enfont-bold;
}
.en_header .header_wrap .main_menu a:hover::after {
  width: 20px;
}
.en_header .header_wrap .main_menu a:hover::before {
  width: 20px;
}
.en_header .header_active {
  transform: translateX(0%);
}
.en_header .header_wrap_sp {
  display: none;
}
.en_header .lang_wrap {
  position: relative;
}
.en_header .lang_wrap .lang_btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  width: 3rem;
  padding: 0.5rem 0.75rem;
}
.en_header .lang_wrap .lang_btn p {
  color: #fff1d7;
}
.en_header .lang_wrap .lang_btn p:nth-child(3) {
  font-family: jafont-regular;
}
.en_header .lang_wrap .lang_link {
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  top: -80px;
  cursor: pointer;
  transition: 0.3s;
}
.en_header .lang_wrap .lang_link a {
  cursor: pointer;
}
.en_header .lang_wrap .lang_link a:first-child {
  margin-bottom: 0.5rem;
}
.en_header .lang_wrap .lang_active {
  top: 40px;
  opacity: 1;
  transition: 0.3s;
}

h2 {
  font-family: enfont-bold;
  font-size: 3rem;
  position: relative;
  left: 26px;
  margin-bottom: 2rem;
  width: fit-content;
}
h2:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 10px;
  transform: rotate(-30deg);
  height: 10px;
  width: 20px;
  border-radius: 100px 100px 0 0;
  background-color: #000;
}
h2:after {
  content: "";
  position: absolute;
  left: -26px;
  top: 22px;
  transform: rotate(150deg);
  height: 10px;
  width: 20px;
  border-radius: 100px 100px 0 0;
  background-color: #000;
}

h3 {
  font-family: enfont-regular;
  font-size: 2rem;
  position: relative;
  margin-bottom: 2rem;
  border-bottom: 1px solid;
  width: fit-content;
  padding: 0 0 2px;
}

.text_bold {
  font-family: enfont-bold;
  margin-bottom: 15px;
  line-height: 2;
}

.text_normal {
  font-family: enfont-regular;
  margin-bottom: 20px;
  line-height: 2;
}

.main_section {
  margin-bottom: 5rem;
}

footer {
  width: 90%;
  margin: 8rem auto 5rem;
  position: relative;
}
footer .footer_wrap {
  display: flex;
  justify-content: end;
}
footer .footer_wrap .content_wrap {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
footer .footer_wrap .content_wrap .content {
  margin-right: 4rem;
}
footer .footer_wrap .content_wrap .content p {
  font-family: enfont-bold;
  font-size: 16px;
  margin-bottom: 35px;
  position: relative;
}
footer .footer_wrap .content_wrap .content p:after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  width: 70px;
  height: 1px;
  background-color: #000;
}
footer .footer_wrap .content_wrap .content p:before {
  content: "";
  display: block;
  position: relative;
  top: 27px;
  left: 20px;
  width: 150px;
  height: 1px;
  background-color: #000;
}
footer .footer_wrap .content_wrap .content ul {
  display: flex;
  flex-direction: column;
}
footer .footer_wrap .content_wrap .content ul li {
  font-size: 16px;
  margin-bottom: 1rem;
}
footer .footer_wrap .content_wrap .content:nth-child(2) {
  margin-right: 8rem;
}
footer .footer_wrap .top_button {
  position: relative;
  bottom: 0;
}
footer .footer_wrap .top_button .arrow_case {
  overflow: hidden;
  height: 120px;
  position: relative;
  text-align: center;
}
footer .footer_wrap .top_button .arrow_case::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: #000;
  -webkit-animation: sc_ani02 1.5s infinite;
  animation: sc_ani02 1.5s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
footer .footer_wrap .top_button .arrow_case::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 15px;
  left: 4px;
  top: -1px;
  background-color: #000;
  transform: rotate(-35deg);
}
footer .footer_wrap .top_button p {
  transform: rotate(90deg);
  font-size: 11px;
  position: relative;
  bottom: 3.75rem;
  left: -15px;
}

@media screen and (max-width: 625px) {
  .main_section {
    margin-bottom: 3rem;
  }
  header {
    margin: 0 auto;
  }
  .bread_crumb {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 4rem auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1rem 0;
  }
  .bread_crumb .bread_link {
    display: flex;
    flex-direction: row;
    font-size: 13px;
  }
  .bread_crumb .bread_link::after {
    content: "";
    background-image: url(../../assets/images/arrow_light_right.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 11px;
    display: block;
    margin: 0 1.5rem;
    position: relative;
    top: 1px;
  }
  .bread_crumb .bread_text {
    font-size: 13px;
  }
  .en_header .header_wrap {
    display: none;
  }
  .en_header .header_wrap_sp {
    display: block;
    position: relative;
    width: 90%;
  }
  .en_header .header_wrap_sp .menu_box {
    z-index: 10;
    position: fixed;
    background-color: #000;
    padding: 3vw 0;
    bottom: 8vw;
    right: 0;
    height: auto;
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(110%);
    transition: 0.5s;
    transition-delay: 1s;
  }
  .en_header .header_wrap_sp .menu_box .menu_line {
    width: 70%;
    height: 1px;
    background-color: #fff1d7;
    margin-bottom: 2.25vw;
    transform: rotate(180deg);
    transition: 0.3s;
  }
  .en_header .header_wrap_sp .menu_box .menu_line:nth-child(3) {
    margin-bottom: 0;
  }
  .en_header .header_wrap_sp .menu_box .line_active:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 3vw;
  }
  .en_header .header_wrap_sp .menu_box .line_active:nth-child(2) {
    width: 0;
  }
  .en_header .header_wrap_sp .menu_box .line_active:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    bottom: 2vw;
  }
  .en_header .header_wrap_sp .menu_line_active {
    transform: translateX(0%);
  }
  .en_header .header_wrap_sp .menu_display {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
    background-color: #000;
    transform: translateX(100%);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }
  .en_header .header_wrap_sp .menu_display .menu_list {
    display: flex;
    flex-direction: column;
  }
  .en_header .header_wrap_sp .menu_display .menu_list a {
    color: #fff1d7;
    font-size: 10vw;
    width: 90%;
  }
  .en_header .header_wrap_sp .menu_display .menu_list a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: #fff1d7;
    transition: 0.2s;
    transition-delay: 0.3s;
    margin: 8vw 0;
  }
  .en_header .header_wrap_sp .menu_display .lang_menu {
    padding: 10vw 0 0;
  }
  .en_header .header_wrap_sp .menu_display .lang_menu p {
    color: #fff1d7;
  }
  .en_header .header_wrap_sp .menu_display .lang_menu ul {
    display: flex;
    flex-direction: row;
  }
  .en_header .header_wrap_sp .menu_display .lang_menu ul li a {
    color: #fff1d7;
  }
  .en_header .header_wrap_sp .menu_display .lang_menu ul li:nth-child(1) {
    padding-right: 8vw;
  }
  .en_header .header_wrap_sp .menu_active {
    transform: translateX(0%);
  }
  .en_header .header_wrap_sp .menu_active .menu_list a::after {
    width: 100%;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  h2::before {
    height: 7px;
    width: 15px;
    left: -27px;
    top: 7px;
  }
  h2::after {
    height: 7px;
    width: 15px;
    top: 16px;
    left: -25px;
  }
  h3 {
    font-size: 22px;
    width: fit-content;
    margin-bottom: 20px;
  }
  .text_bold {
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .text_normal {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  footer {
    margin: 5rem auto 0rem;
  }
  footer .footer_wrap {
    justify-content: space-between;
  }
  footer .footer_wrap .content_wrap {
    display: flex;
    flex-direction: column;
  }
  footer .footer_wrap .content_wrap .content {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  footer .footer_wrap .content_wrap .content ul li {
    font-size: 14px;
  }
  footer .footer_wrap .content_wrap .content p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  footer .footer_wrap .top_button .arrow_case {
    height: 100px;
  }
  footer .footer_wrap .top_button .arrow_case::before {
    width: 1px;
  }
  footer .footer_wrap .top_button .arrow_case::after {
    width: 1px;
  }
  footer .footer_wrap .top_button p {
    bottom: 50px;
    left: -17px;
  }
}/*# sourceMappingURL=common.css.map */